.search_input{
    height: 90rpx;
    padding: 10rpx;
    background-color: var(--themeColor);
    navigator{
        display: flex;
        justify-content: center; //水平居中
        align-items: center; //垂直居中
        background-color: white;
    }
}